<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/jpg" href="/logo.jpg">
  <meta name="description" content="">
  <meta name="author" content="Ais Aif">
  <meta name="keywords" content="Custom,Lamp,Car,Mobil,Motorcycle,Motor,Spare,Parts,Repair,Service,AES,BullAES,High,Performance">

  {{-- Google Font --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap&family=Material+Icons&family=Material+Symbols+Outlined"
    rel="stylesheet">

  <title inertia></title>

  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body class="min-h-screen relative scrollbar-hide scroll-smooth">
  @inertia()
</body>

</html>
