module.exports = {
  apps: [
    {
      name: 'obex-customlamp',
      script: '/project-path/build/bin/server.js',
      env: {
        NODE_ENV: 'development',
        PORT: '3333',
        TZ: 'Asia/Jakarta',
        HOST: 'localhost',
        LOG_LEVEL: 'info',
        APP_KEY: '3EBvDq1F6Sccn9B0qVPcrSZCgusPfp8F',
        VITE_APP_NAME: 'Obex Customlamp',
        SESSION_DRIVER: 'cookie',
        DB_HOST: '127.0.0.1',
        DB_PORT: '3306',
        DB_USER: 'root',
        DB_PASSWORD: 'root',
        DB_DATABASE: 'obex_customlamp',
        FACEBOOK_URL: '',
        FACEBOOK_ACCESS_TOKEN: '',
        FACEBOOK_TOKEN_VERIFICATION: '',
      },
      env_production: {
        NODE_ENV: 'production',
        PORT: 8000,
        TZ: 'Asia/Jakarta',
        HOST: 'localhost',
        LOG_LEVEL: 'info',
        APP_KEY: '3EBvDq1F6Sccn9B0qVPcrSZCgusPfp8F',
        VITE_APP_NAME: 'Obex Customlamp',
        SESSION_DRIVER: 'cookie',
        DB_HOST: '127.0.0.1',
        DB_PORT: '3306',
        DB_USER: 'root',
        DB_PASSWORD: 'root',
        DB_DATABASE: 'obex_customlamp',
        FACEBOOK_URL: '',
        FACEBOOK_ACCESS_TOKEN: '',
        FACEBOOK_TOKEN_VERIFICATION: '',
      },
    },
  ],
}
